<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${msg}">
    <span th:text="${msg}"></span>><br/>
    <a th:href="@{/login}">back</a>
</div>
<div th:unless="${msg}">
    <form th:action="@{/register}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Register"/></div>
    </form>
</div>

</body>
</html>